.navbar {
/* text-align: center; */
}
.ttt{
    text-align: center;

}
.name{
    font-size: 40px;
    background: -webkit-linear-gradient(360deg,#A02279,#A02279, #A02279, rgb(128,67,216),rgb(128,67,216),rgb(128,67,216)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: auto;
    
}
.page{
font-size: larger;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 2.0em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
.nav{
    width: 47%;
    word-spacing: -0.2rem;
}
.Connect img {
    display: none;
    
}

/* 912 */
@media (max-width: 1024px) {
    .nav{
        width: 70% !important;
        justify-content: space-between !important;
    }
    .header{
       flex-wrap: wrap;
    }
    .Conn{
        justify-content: right;
        margin-left: auto;

    }
}
@media (max-width: 768px) {
    .header{
        padding: 10px !important;
        padding-bottom: 0 !important;
    }
    .nav{
        width: 100% !important;
        justify-content: space-between !important;
    }
    .Connect img {
        /* visibility: visible; */
        display: block;
    }
    .Connect p {
        /* visibility: visible; */
        display: none;
    }
    .Conn{
        justify-content: right;
        margin-left: auto;

    }
    .btn {
        border-radius: 10px;
        border: 1px solid transparent;
        padding: 0.3em 1.0em;

      }
}