.footer {
    background: #1D1D1E;
    color: aliceblue;
    height: 50vh;
    padding: 68px 9% 3% 9%;
}


.flog {
    font-family: 'red Rose';

}

.fcom {
    width: 60%;
}

.fcom div strong {
    font-family: 'red Rose';
}

.fcom div div {
    font-family: 'red Rose';
    font-size: smaller;
    line-height: 40px;
}
small{
    font-family: 'red Rose';

}

footer footer {
    margin-top: 25px;
    font-size: large;
}
/* 1024 */
@media (max-width: 768px) {
    .footer {
        min-height: 60vh !important;
         padding: 68px 10px 3% 10px;
     }
}
@media (max-width: 767px) {
    .footer {
       height: 60vh !important;
        padding: 68px 10px 3% 10px;
    }

    .ff {
        display: block !important;
    }
    .flogimg{
        width: 39px;
    }

    .flog {
        font-weight: 400;
        font-size: 38px !important;
    }

    .fmeta {
        justify-content: space-between;
        display: flex !important;
        width: 100% !important;
        margin-bottom: 30px;
    }

    .fmeta div {
        margin: 0 !important;
    }

    .social {
        margin: 0 !important;
        width: 30% !important;
        justify-content: flex-end;
    }

    .social img {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin: auto;
    }

    .fcom {
        margin-top: 20px;
        display: block;
        width: 100% !important;
    }
}